<div class="debug">
  <label><input type="checkbox"> Debug</label>
</div>
<div id="app" class='parallax'>
    <div id='group1' class='group'>
      <div class='layer base bottom'>
      </div>
      <div class='layer base surface'>
        <div id='slideshow'>
          <ol id='projects'>
          </ol>
          <nav></nav>
        </div>
      </div>
    </div>
    <div id='group2' class='group'>
    </div>
{{!--     <div id='group3' class='group'>
    </div>
    <div id='group4' class='group'>
    </div>
    <div id='group5' class='group'>
    </div>
    <div id='group6' class='group'>
    </div> --}}
</div>

  <script>
    var debugInput = document.querySelector("input");
    function updateDebugState() {
        document.body.classList.toggle('debug-on', debugInput.checked);
    }
    debugInput.addEventListener("click", updateDebugState);
    updateDebugState();
  </script>
