<div id="app" class='parallax'>
    <div id='group1' class='group'>
      <div class='layer base bottom'>
      </div>
      <div class='layer base surface'>
        <div id='slideshow'>
          <ol id='projects'>
          </ol>
          <nav></nav>
        </div>
      </div>
    </div>
    <div id='group2' class='group'>
    </div>
</div>
