<div class="description">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
</div>
<div class="pics col">
  <a href="http://google.com/"><img src="img/1_screen.jpg"/></a>
  <a href="https://baidu.com/"><img src="img/2_screen.jpg"/></a>
</div>
